<!-- CIS 197 ReactJS HW -->
<!-- Author: Devesh Dayal, Steve Vitali -->
<!-- The main HTML page, which you'll actually see in your web browser! -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Game of Life</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel='stylesheet' href='/styles/styles.css'/>
    <!-- Load the frontend JavaScript application build -->
    <script src="/build/main.js"></script>
  </head>
  <body>
    <h1 class="title">The Game of Life!</h1>
    <div id="container">
      <p class="loading">
        If you see this, it means <span style="color: #17822c">React</span> hasn't rendered to the page as yet.
      </p>
    </div>
  </body>
</html>
