body {
  height: 100%;
  width: 100%;
  font-family: Ubuntu, sans-serif;
}

h4 {
  text-transform: uppercase;
  color: #17822c;
  font-size: 18px;
  margin: 5px;
}

button {
  text-transform: uppercase;
  margin: auto;
  font-weight: 200;
  background: rgba(255, 255, 255, 1);
  border: none;
}

button:hover {
  cursor: pointer;
  font-weight: 800;
  border-bottom: 1px solid red;
}

button:focus {outline:0;}

.scoreBlock {
  margin: auto;
  font-weight: 200;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: 2px solid #ccc;
  border-color: #858585;
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 35px;
}

.loading {
  text-align: center;
  font-size: 20px;
  padding: auto;
}

.container {
  height: 400px;
  width: 200px;
}

.game-board {
  margin: auto;
  width: 400px;
  border-radius: 5px;
  border: 3px;
  border-color: #858585;
}

.board-component {
  margin: auto;
  height: 400px;
  width: 200px;
  border-radius: 3px;
  border: 2px solid #ccc;
  border-color: #858585;
}

.cell {
  display:block;
  border-radius:3px;
  float:left;
  border:1px solid #ccc;
  height:18px;
  width:18px;
  user-select:none;
}

.cell.black {
  background-color:#FFFFFF;
  border-color:#858585;
  border-radius:3px;
}

.cell.red {
  background-color:#FF0000;
  border-color:#858585;
  border-radius:3px;
}

.cell.green {
  background-color:#54ff00;
  border-color:#858585;
  border-radius:3px;
}

.cell.purple {
  background-color:#410a93;
  border-color:#858585;
  border-radius:3px;
}

.cell.yellow {
  background-color:#ffc300;
  border-color:#858585;
  border-radius:3px;
}

.cell.pink {
  background-color:#f24b8d;
  border-color:#858585;
  border-radius:3px;
}

.cell.blue {
  background-color:#005dff;
  border-color:#858585;
  border-radius:3px;
}

.cell.orange {
  background-color:#f77009;
  border-color:#858585;
  border-radius:3px;
}

.start {
  margin: auto;
}