/*
  CIS 197 - React HW
  Author - Devesh Dayal
  The one and only CSS stylesheet for the page. Feel free to change things around!
*/

body {
  height: 100%;
  width: 100%;
  font-family: Ubuntu, sans-serif;
}

h4 {
  text-transform: uppercase;
  color: #17822c;
  font-size: 18px;
  margin: 5px;
}

button {
  text-transform: uppercase;
  margin: auto;
  font-weight: 200;
  background: rgba(255, 255, 255, 1);
  border: none;
}

button:hover {
  cursor: pointer;
  font-weight: 800;
  border-bottom: 1px solid red;
}

button:focus {outline:0;}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 35px;
}

.loading {
  text-align: center;
  font-size: 20px;
  padding: auto;
}

.container {
  height: 400px;
  width: 200px;
}

.game-board {
  margin: auto;
  width: 200px;
}

.board-component {
  margin: auto;
  height: 400px;
  width: 200px;
  border-radius: 3px;
  border: 2px solid #ccc;
  border-color: #858585;
}

.cell {
  display:block;
  border-radius:3px;
  float:left;
  border:1px solid #ccc;
  height:18px;
  width:18px;
  user-select:none;
}

.cell.black {
  background-color:#FFFFFF;
  border-color:#858585;
  border-radius:3px;
}

.cell.red {
  background-color:#FF0000;
  border-color:#858585;
  border-radius:3px;
}

.start {
  margin: auto;
}

/*.controls {
  width: 50%;
  float: left;
}

.seeds {
  width: 50%;
  float: right;
}

.controls, .seeds {
  text-align:center
};*/
